*
{
    box-sizing: border-box;
    /* background-image:url(Asset/stethoscope.png); */
    font-family: 'Open Sans', sans-serif;
    margin:10px 0px 0px 30px;
    /* background-color: #F0F4F5; */
}
body
{
    background-image: url(Asset/stethoscope.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-position:400px 200px;
    background-size: contain;
    background-color: #F0F4F5;
}
.navi
{
    margin-top:0px;
    display: flex;
    align-items: center;
    gap:600px;
}
nav
{
    text-decoration: none;
    display:flex;
    gap:20px;
}
a
{
    text-decoration:none;
    color: black;
    font-weight:bolder
}
section
{
    display: flex;
}
.parent-img-responsive
{
    position: absolute;
    right:0px;
    top:253px;
	width:450px;
	height:450px;	
    /* left:10px; */
}
.child-img{
    position: absolute;
    top:350px;
    right: 0;

}
.child-img-1{
    position: absolute;
    top:85px;
    bottom:0px;
    right: 0;
}
.quote
{
    display:grid;
    /* align-items: center; */
    /* justify-items: center; */
    text-align:left;
    padding-top:150px;
    padding-right:900px;

}
h1
{
    font-family: 'Open Sans', sans-serif;
    font-size:50px;
}
h5
{
    color:gray;
}
button
{
    background-color:rgb(62, 201, 145);
    color: #fff;
    
    font-family: 'Open Sans', sans-serif;
    border-radius:50px;
    border:none;
    width:200px;
    height:40px;
}
.more
{
    font-size:15px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin:5px;
    padding:10px 10px 10px 10px;
}